* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #282c33;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

header {
  color: #ffffff;
  font-size: 2.8em;
  margin: 25px 0;
  text-align: left;
}

span#title {
  color: #95eba8;
}

section {
  text-align: left;
}

section p {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.3em;
}

button {
  background-color: #95eba8;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1.7em;
  border-radius: 10px;
  font-weight: bold;
}

input {
  background-color: #35393f;
  padding: 15px 30px;
  font-size: 1.7em;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

main {
  margin-top: 20px;
  background-color: #35393f;
  width: 100%;
  height: 580px;
  overflow-y: scroll;
  border-radius: 12px;
}

main p {
  padding-top: 15px;
  font-size: 2em;
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}

li {
  padding: 15px;
  list-style-type: none; 
  border-radius: 15px;
  background-color: #282c33;
  color: #ffffff;
  font-size: 1.5em;
}

li span {
  color: #d1be19;
}

p {
  color: #ffffff;
}

footer {
  color: #ffffff;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

a {
  color: #ffffff;
}
